<% if @cart && @cart.cart_items.any? %>
  <% @cart.cart_items.order(:id).each do |cart_item| %>
    <div>
      <div>Product Name: <%= cart_item.product.name %></div>
      <div>Unit Price: <%= number_to_currency(cart_item.product.price, unit: '৳', format: "%n%u") %></div>
      <div>Quantity: <%= cart_item.quantity %></div>
      <div>Total Price for this Product: <%= number_to_currency(cart_item.product.price * cart_item.quantity, unit: '৳', format: "%n%u") %></div>
    </div>
  <% end %>
  <div>
    <div>Your Total Price: <%= number_to_currency(@cart.total_price, unit: '৳', format: "%n%u") %></div>
  </div>
  <div>
    <%= button_to "Confirm Order", orders_path, method: :post %>
  </div>
<% else %>
  <div>Your cart is empty.</div>
  <div>
    <%= link_to "Go to homepage", root_path, data: {turbo_frame: "_top"} %>
  </div>
<% end %>