<% if @orders.any? %>
  <% @orders.each do |order| %>
    <div>
      Order ID: <%= order.order_number %>
      <div>
        Placed on: <%= order.created_at.strftime("%d %b %Y %I:%M:%S %p") %>
      </div>
      <div>
        Order status: <%= order.status %>
      </div>
      <div>
        <%= button_to "View", order_path(order), method: :get %>
      </div>
      <ul>
        <% order.order_items.each do |item| %>
          <li>
            <%= item.product.name %>, Quantity: <%= item.quantity %>
          </li>
        <% end %>
      </ul>
      <div>
        Total amount to pay: <%= number_to_currency(order.total_price, unit: '৳', format: "%n%u") %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>You have not ordered anything yet.</p>
<% end %>