<div class="max-w-md mx-auto p-4 bg-white rounded-md shadow-md">
  <h1 class="text-2xl font-bold mb-4 text-center"><%= @product.name %> - Edit rating and review of this product</h1>

  <%= form_with(model: [@order, @product_rating_and_review], url: order_product_ratings_and_review_path(@order, @product_rating_and_review), method: :patch, class: 'space-y-6') do |form| %>

    <%= form.hidden_field :order_id %>
    <%= form.hidden_field :product_id %>

    <div class="mb-4">
      <%= form.label "Rating: (Min: 1, Max: 5)", class: "block text-gray-700 font-bold mb-2" %>
      <%= form.number_field :rating, step: 1, min: 1, max: 5, required: true, data: { controller: "number-input", "number-input-target": "input", action: "keydown->number-input#restrict" }, class: "shadow appearance-none border rounded w-1/8 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="mb-4">
      <%= form.label "Review:", class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_area :review, class: "shadow appearance-none border rounded w-1/8 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>


    <div class="flex items-center justify-between">
      <%= form.submit "Submit", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>