<div class="max-w-md mx-auto p-4 bg-white rounded-md shadow-md">
  <h1 class="text-2xl font-bold mb-4 text-center"><%= @product.name %> - Rate this Product</h1>

  <%= form_with(model: [@order, @product_rating_and_review], url: order_product_ratings_and_reviews_path(@order), class: 'space-y-6') do |form| %>
    <%= form.hidden_field :order_id %>
    <%= form.hidden_field :product_id %>

    <div class="flex items-center justify-between">
      <%= form.label :rating, class: 'mr-4 font-semibold text-lg' %>
      <%= form.select :rating, options_for_select((1..5).to_a), {}, class: 'border border-gray-300 rounded py-2 px-3 w-24 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500' %>
    </div>

    <div class="text-center">
      <%= form.submit "Submit Rating", class: 'bg-blue-500 text-white py-2 px-6 rounded-full hover:bg-blue-600 transition-colors shadow-md' %>
    </div>
  <% end %>
</div>
