<turbo-frame id="increase_decrease_product">
  <% if @cart && @cart.cart_items.any? %>
    <% @cart.cart_items.order(:id).each do |cart_item| %>
      <div>
        <div>Product Name: <%= cart_item.product.name %></div>
        <div>Unit Price: <%= number_to_currency(cart_item.product.price, unit: 'à§³', format: "%n%u") %></div>
        <div>Quantity: <%= cart_item.quantity %></div>
        <div>
          Total Price for this Product: <%= number_to_currency(cart_item.total_price, unit: '', format: "%n%u") %> USD
        </div>
      </div>
      <div>
        <% if cart_item.quantity >= cart_item.product.quantity %>
          <button disabled>+</button>
        <% else %>
          <%= button_to "+", increase_quantity_cart_path(@cart, product_id: cart_item.product_id), method: :post %>
        <% end %>
        <% if cart_item.quantity == 1 %>
          <button disabled>-</button>
        <% else %>
          <%= button_to "-", decrease_quantity_cart_path(@cart, product_id: cart_item.product_id), method: :post %>
        <% end %>
        <div>
          <%= button_to "ðŸ—‘ï¸", cart_path(cart_item), method: :delete %>
        </div>
      </div>
    <% end %>
    <div>
      <div>
        Your Total Price: <%= number_to_currency(@cart.total_price, unit: '', format: "%n%u") %> USD
      </div>
    </div>
    <div>
      <%#= button_to "Confirm Order", orders_path, method: :post %>
      <%= button_to "Checkout", checkout_orders_path, method: :get, data: {turbo_frame: "_top"} %>
    </div>
  <% else %>
    <div>Your cart is empty.</div>
    <div>
      <%= link_to "Go to homepage", root_path, data: {turbo_frame: "_top"} %>
    </div>
  <% end %>
</turbo-frame>