<turbo-frame id="increase_decrease_product" class="container mx-auto py-8">
  <% if @cart && @cart.cart_items.any? %>
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Product</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Price</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
        <% @cart.cart_items.order(:id).each do |cart_item| %>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="flex items-center">
                <% if cart_item.product.product_image.attached? %>
                  <div class="flex-shrink-0 w-16 h-16">
                    <%= link_to image_tag(cart_item.product.product_image, class: "object-contain h-full w-full") %>
                  </div>
                <% end %>
                <div class="ml-4">
                  <div class="text-sm font-medium text-gray-900"><%= cart_item.product.name %></div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              <%= number_to_currency(cart_item.product.price, unit: '', format: "%n%u") %> USD
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              <%= cart_item.quantity %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              <%= number_to_currency(cart_item.total_price, unit: '', format: "%n%u") %> USD
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
              <div class="flex items-center">
                <div class="flex items-center rounded-md overflow-hidden">
                  <% if cart_item.quantity >= cart_item.product.quantity %>
                    <button class="bg-gray-300 text-gray-500 py-2 px-4 cursor-not-allowed" disabled>
                      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                      </svg>
                    </button>
                  <% else %>
                    <%= button_to increase_quantity_cart_path(@cart, product_id: cart_item.product_id), method: :post, class: "bg-blue-500 hover:bg-blue-600 text-white py-2 px-4" do %>
                      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                      </svg>
                    <% end %>
                  <% end %>

                  <span class="bg-gray-100 text-gray-800 py-2 px-4"><%= cart_item.quantity %></span>

                  <% if cart_item.quantity == 1 %>
                    <button class="bg-gray-300 text-gray-500 py-2 px-4 cursor-not-allowed" disabled>
                      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4"></path>
                      </svg>
                    </button>
                  <% else %>
                    <%= button_to decrease_quantity_cart_path(@cart, product_id: cart_item.product_id), method: :post, class: "bg-red-500 hover:bg-red-600 text-white py-2 px-4" do %>
                      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4"></path>
                      </svg>
                    <% end %>
                  <% end %>
                </div>

                <%= button_to cart_path(cart_item), method: :delete, class: "ml-4 bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded" do %>
                  <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                  </svg>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4 mt-6">
      <div class="font-bold text-lg mb-2">
        Your Total Price: <%= number_to_currency(@cart.total_price, unit: '', format: "%n%u") %> USD
      </div>
    </div>
    <div class="mt-6">
      <%= button_to "Checkout", checkout_orders_path, method: :get, data: {turbo_frame: "_top"}, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% else %>
    <div class="bg-white rounded-lg shadow-md p-4">
      <div class="text-gray-700 text-base">Your cart is empty.</div>
      <div class="mt-4">
        <%= link_to "Go to homepage", root_path, data: {turbo_frame: "_top"}, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    </div>
  <% end %>
</turbo-frame>