<div>

  <div>

    <%= form_with url: search_product_by_component_products_path, method: :get do |form| %>
      <div>
        Price Rance
        <%= form.text_field :start_price, value: 0 %>
        <%= form.text_field :end_price, value: params[:end_price] || number_with_delimiter(@highest_price, delimiter: ',') %>
      </div>
      <%= form.hidden_field :component, value: params[:component] %>
      <div>
        Brands
        <% @brands.each do |brand| %>
          <div>
            <%= check_box_tag 'brands[]', brand, params[:brands]&.include?(brand) %>
            <%= label_tag 'brands[]', brand %>
          </div>
        <% end %>
      </div>
      <div>
        Availability
        <div>
          <%= check_box_tag 'in_stock', 'In stock', params[:in_stock] %>
          <%= label_tag 'in_stock', 'In stock' %>
        </div>
      </div>
      <%= form.submit "Apply" %>
    <% end %>


  </div>

  <div>
    <% if @products.any? %>
      <% @products.each do |product| %>
        <div>
          <% if product.product_image.attached? %>
            <div>
              <%= link_to image_tag(product.product_image), product_path(product) %>
            </div>
          <% end %>
        </div>

        <div>
          <%= link_to product.name, product_path(product) %>
        </div>

        <div>
          <%= number_with_delimiter(number_with_precision(product.price, precision: 2), delimiter: ',') %> USD
        </div>

        <div>
          <% if user_signed_in?%>
            <turbo-frame id="search_product_by_component_add_inc_dec_<%= product.id %>">
              <% if current_user && current_user.cart&.products&.include?(product) %>
                <% cart_item = current_user.cart.cart_items.find_by(product: product) %>
                <% if cart_item.quantity >= product.quantity %>
                  <button disabled>+</button>
                <% else %>
                  <%= button_to "+", increase_quantity_product_path(id: product.id, cart_item_id: cart_item.id), method: :post %>
                <% end %>
                <%= button_to "-", decrease_quantity_product_path(product, current_user.cart.cart_items.find_by(id: product.id)), method: :post %>
                <%= cart_item.quantity %> in cart
              <% else %>
                <% if product.quantity.zero? %>
                  <button disabled>OUT OF STOCK</button>
                <% elsif user_signed_in? && !current_user.admin? %>
                  <%= button_to "Add to cart", add_to_cart_product_path(id: product.id), method: :post %>
                <% end %>
              <% end %>
            </turbo-frame>
          <%else %>
            <% if product.quantity.zero? %>
              <button disabled>OUT OF STOCK</button>
            <% elsif !current_user&.admin? %>
              <%= button_to "Add to cart", add_to_cart_product_path(id: product.id), method: :post %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div>
        There is no product that matches the search criteria.
      </div>
    <% end %>

    <%= paginate @products %>
  </div>

</div>