<div>
  <% if current_user && current_user.admin? %>
    <%= link_to "Edit", edit_product_path(@product) %>
    <%= link_to "Delete", product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <% end %>
</div>

<div>
  <% if @product.product_image.attached? %>
    <div>
      <%= image_tag @product.product_image %>
    </div>
  <% end %>
</div>

<div>
  Name: <%= @product.name %>
</div>

<div>
  Price: <%= number_with_delimiter(number_with_precision(@product.price, precision: 2), delimiter: ',') %> BDT
</div>

<div>
  <% if current_user && current_user.admin? %>
    Quantity: <%= @product.quantity %>
  <% else %>
    <% if @product.quantity > 0 %>
      Status: In stock
    <% else %>
      Status: Out of stock
    <% end %>
  <% end %>
</div>

<div>
  Brand: <%= @product.brand %>
</div>

<div>
  <% if user_signed_in?%>
    <turbo-frame id="add_to_cart_increase_decrease_quantity">
      <div>
        <% if user_signed_in? && !current_user.admin? %>
          <div>
            <% if @cart %>
              You have <%= link_to "#{@cart.cart_items.sum(:quantity) || 0} product(s) in your cart.", carts_path, data: {turbo_frame: "_top"} %>
            <% else %>
              Your cart is empty.
            <% end %>
          </div>
          <div>Total price: <%= number_to_currency(current_user.cart&.total_price || 0, unit: '৳', format: "%n%u") %></div>
        <% end %>
      </div>

      <% if current_user && current_user.cart&.products&.include?(@product) %>
        <% cart_item = current_user.cart.cart_items.find_by(product: @product) %>
        <% if cart_item.quantity >= @product.quantity %>
          <button disabled>Increase Quantity</button>
        <% else %>
          <%= button_to "Increase Quantity", increase_quantity_product_cart_item_path(@product, cart_item), method: :post %>
        <% end %>
        <%= button_to "Decrease Quantity", decrease_quantity_product_cart_item_path(@product, current_user.cart.cart_items.find_by(product: @product)), method: :post %>
      <% else %>
        <% if @product.quantity.zero? %>
          <button disabled>OUT OF STOCK</button>
        <% elsif user_signed_in? && !current_user.admin? %>
          <%= button_to "Add to cart", product_cart_items_path(@product), method: :post %>
        <% end %>
      <% end %>
    </turbo-frame>
    <%else %>
    <% if @product.quantity.zero? %>
      <button disabled>OUT OF STOCK</button>
    <% elsif user_signed_in? && !current_user.admin? %>
      <%= button_to "Add to cart", product_cart_items_path(@product), method: :post %>
    <% end %>
  <% end %>
</div>

<div>
  Key Features: <%= @product.key_features %>
</div>

<div>
  Specification: <%= @product.specification %>
</div>

<div>
  Description: <%= @product.description %>
</div>