<div class="max-w-4xl mx-auto py-8">
  <div class="flex flex-col md:flex-row">
    <div class="md:w-1/2 mb-6 md:mb-0">
      <% if @product.product_image.attached? %>
        <%= image_tag @product.product_image, class: "w-full rounded-lg shadow-md" %>
      <% end %>
    </div>
    <div class="md:w-1/2 md:pl-8">
      <div class="flex justify-between items-center mb-4">
        <h1 class="text-3xl font-bold text-gray-800"><%= @product.name %></h1>
        <% if current_user && current_user.admin? %>
          <div class="flex space-x-2">
            <%= link_to "Edit", edit_product_path(@product), class: "px-3 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 transition-colors duration-300" %>
            <%= link_to "Delete", product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "px-3 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 transition-colors duration-300" %>
          </div>
        <% end %>
      </div>
      <p class="text-2xl font-semibold text-gray-700 mb-4">
        <%= number_with_delimiter(number_with_precision(@product.price, precision: 2), delimiter: ',') %> USD
      </p>
      <div>
        <turbo-frame id="add_to_wishlist_button">
          <% if user_signed_in? %>
            <% if @wishlist_item %>
              <%= button_to "Remove from wishlist", add_to_wish_list_path(@wishlist_item), method: :delete, class: "px-4 py-2 text-sm font-medium text-red-600 bg-white border border-red-300 rounded-md hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition-colors duration-300" %>
            <% else %>
              <%= button_to "Add to wishlist", add_to_wish_lists_path(product_id: @product.id), method: :post, class: "px-4 py-2 text-sm font-medium text-indigo-600 bg-white border border-indigo-300 rounded-md hover:bg-indigo-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-colors duration-300" %>
            <% end %>
          <% end %>
        </turbo-frame>
      </div>
      <div class="mb-4">
        <% if current_user && current_user.admin? %>
          <p class="text-gray-600">Quantity: <%= @product.quantity %></p>
        <% else %>
          <p class="text-gray-600">
            Status: <span class="<%= @product.quantity > 0 ? 'text-green-500' : 'text-red-500' %>"><%= @product.quantity > 0 ? 'In stock' : 'Out of stock' %></span>
          </p>
        <% end %>
      </div>
      <p class="text-gray-600 mb-4">Brand: <%= @product.brand %></p>
      <p class="text-gray-600 mb-4">
        Rating:
        <% if @average_rating.nil? %>
          Nobody rated yet.
          <a href="#reviews" class="text-emerald-600 font-semibold hover:text-emerald-800 hover:underline transition duration-300 ease-in-out scroll-smooth relative inline-block">
            See reviews
            <span class="absolute bottom-0 left-0 w-full h-0.5 bg-emerald-600 transform origin-bottom scale-x-0 transition-transform duration-300 ease-out group-hover:scale-x-100"></span>
          </a>
        <% else %>
          <%= @average_rating %> (based on <%= @rating_count %> ratings)
          <a href="#reviews" class="text-emerald-600 font-semibold hover:text-emerald-800 hover:underline transition duration-300 ease-in-out scroll-smooth relative inline-block">
            See reviews
            <span class="absolute bottom-0 left-0 w-full h-0.5 bg-emerald-600 transform origin-bottom scale-x-0 transition-transform duration-300 ease-out group-hover:scale-x-100"></span>
          </a>
        <% end %>
      </p>
      <div class="mb-4">
        <% if user_signed_in? %>
          <turbo-frame id="add_to_cart_increase_decrease_quantity">
            <% if current_user && current_user.cart&.products&.include?(@product) %>
              <% cart_item = current_user.cart.cart_items.find_by(product: @product) %>
              <div class="flex items-center">
                <%= button_to "-", decrease_quantity_product_cart_item_path(@product, current_user.cart.cart_items.find_by(product: @product)), method: :post, class: "w-8 px-3 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 transition-colors duration-300 mr-1" %>
                <p class="text-gray-700 mx-1"><%= cart_item.quantity %> in cart</p>
                <% if cart_item.quantity >= @product.quantity %>
                  <button class="w-8 px-3 py-2 bg-gray-300 text-gray-700 rounded-md ml-1" disabled>+</button>
                <% else %>
                  <%= button_to "+", increase_quantity_product_cart_item_path(@product, cart_item), method: :post, class: "w-8 px-3 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 transition-colors duration-300 ml-1" %>
                <% end %>
              </div>
            <% else %>
              <% if @product.quantity.zero? %>
                <button class="px-3 py-2 bg-gray-300 text-gray-700 rounded-md" disabled>OUT OF STOCK</button>
              <% elsif user_signed_in? && !current_user.admin? %>
                <%= button_to "Add to cart", product_cart_items_path(@product), method: :post, class: "px-3 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 transition-colors duration-300" %>
              <% end %>
            <% end %>
          </turbo-frame>
        <% else %>
          <% if @product.quantity.zero? %>
            <button class="px-3 py-2 bg-gray-300 text-gray-700 rounded-md" disabled>OUT OF STOCK</button>
          <% elsif !current_user&.admin? %>
            <%= button_to "Add to cart", product_cart_items_path(@product), method: :post, class: "px-3 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600 transition-colors duration-300" %>
          <% end %>
        <% end %>
      </div>
      <div class="mb-4">
        <h2 class="text-xl font-semibold text-gray-800 mb-2">Key Features</h2>
        <p class="text-gray-600"><%= @product.key_features %></p>
      </div>
      <div class="mb-4">
        <h2 class="text-xl font-semibold text-gray-800 mb-2">Specification</h2>
        <p class="text-gray-600"><%= @product.specification %></p>
      </div>
      <div class="mb-4">
        <h2 class="text-xl font-semibold text-gray-800 mb-2">Description</h2>
        <p class="text-gray-600"><%= @product.description %></p>
      </div>
    </div>
  </div>
  <div id="reviews" class="bg-white shadow rounded-lg p-6">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">Reviews</h3>
    <% if @product_reviews.empty? %>
      <div class="text-gray-600 italic">
        Review not available.
      </div>
    <% else %>
      <div class="space-y-6">
        <% @product_reviews.each do |product_review| %>
          <div class="bg-gray-100 p-4 rounded-md">
            <div class="font-medium text-gray-700 mb-2">
              <%= product_review.user.full_name %>:
            </div>
            <div class="text-gray-600">
              <%= product_review.review %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>