<!DOCTYPE html>
<html>
  <head>
    <title>Galaxy Tech</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div>
    <%= link_to 'Galaxy Tech', root_path %>
  </div>
  <div>
    <%= form_with url: search_product_products_path, method: :get do |form| %>
      <%= form.text_field :product_name, placeholder: "Search", required: true, value: (params[:product_name] unless current_page?(root_path)) %>
      <%= form.submit "Search", class: "hidden-button", style: "display: none;" %>
    <% end %>
  </div>

  <div>
    <% @components.each do |component| %>
      <% next if component.blank? %>
      <%= link_to component, search_product_by_component_products_path(component: component), class: 'component-link' %>
    <% end %>
  </div>

  <% unless (controller_name == 'products' && action_name == 'show') || (controller_name == 'carts' && action_name == 'index') %>
    <div>
      <% if user_signed_in? && !current_user.admin? %>
        <div>
          <% if @cart %>
            You have
            <%= link_to "#{@cart.cart_items.sum(:quantity) || 0} product(s) in your cart.", carts_path %>
          <% else %>
            <%= link_to "Your cart is empty.", carts_path %>
          <% end %>
        </div>
        <div>
          Total price: <%= number_to_currency(@cart&.total_price || 0, unit: '৳', format: "%n%u") %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <div>
          Hello, <%= current_user.full_name %> (Admin)
        </div>
        <div>
          <%= link_to "Admin Dashboard", admin_dashboards_path %>
        </div>
      <% else %>
        <div>
          Hello, <%= current_user.full_name %>
        </div>
        <div>
          <%= link_to 'My orders', orders_path %>
        </div>
      <% end %>
      <div>
        <%= button_to "Log Out", destroy_user_session_url, method: "delete" %>
      </div>
      <%else %>
      <div>
        <%= button_to "Log In", new_user_session_url, method: "get" %>
      </div>

      <div>
        <%= button_to "Sign Up", new_user_registration_url, method: "get" %>
      </div>
    <% end %>
  </div>

  <% if alert || notice %>

    <div >
      <% if notice %>
        <p><%= notice %></p>
      <% end %>

      <% if alert %>
        <p><%= alert %></p>
      <% end %>
    </div>

  <% end %>

    <%= yield %>
  <footer>
    <div>&copy; <%= Time.now.year %> Galaxy Tech.</div>
  </footer>
  </body>
</html>